/* Global Styles*/
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #F2B84B;
}

#container {
    background-color: #03732A;
    padding: 10px;
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    color: #F2B84B;
}

a:hover {
    color: #0DF205;
    text-decoration: none;
}

ul{
    list-style-type: none; padding: 0;
}

/* Mobile Styles */
nav {
    background-color: #F20505;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #F2B84B;
    background-color: #0D0D0D;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: #0DF205;
}

header h1 {
    font-size: 35px;
    color: #fff;
}

main {
    border: 2px solid #F20505;
    padding: 15px;
    margin: 10px 0;
}

#lower {
    border: solid #F20505;
    padding: 15px;
}

.col {
    border: 2px solid #F20505;
    margin: 10px;
    padding: 15px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
   display: block;
    margin: 15px auto;
    text-align: center;
    background-color: #F20505;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    border: 2px solid #0D0D0D;
    border-radius: 10px;
    font-weight:bold ;
}

/* Tablet Sytles */

@media (min-width: 786px) {
    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 90%;
    }

    #lower {
        width: 75%;
        margin: 0 auto;
    }

    .col img {
        width: 75%;
    }
}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 75%;
        margin: 15px auto;
    }

    #lower {
        width: 90%;
        

    }

    .col img {
        width: 100%;
    }

    
}
